<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/about_us.css') }}">
	<title>Document</title>
</head>
<body>
	<!--<div class="v33_85">-->
		<!--<div class="v33_86"></div>-->
		<span class="v33_92">ABOUT US</span>
		<span class="v33_107"><button onclick="history.back()"><span>BACK</span></button></span>
		<span class="v33_108">Travel is fun and when it comes to train travel, we go into the bypaths and un-trodden depths of wilderness and travel explorations to tell the world the glories of our journey!<br>TRAINETIC aims to serve its passengers with inclusive and comprehensive information that helps those making informed decisions, thus simplifying their train travels.</span>
		<div class="v68_8"></div>
		<div class="v68_12"></div>
		<span class="v68_11"><a href="/admin_login">Admin Login</a></span>
		<span class="v68_9"><a href="#">About Us</a></span>
		<span class="v68_10"><a href="/Contact_us">Contact us</a></span>
		<div class="v33_110"></div>
	<!--</div>-->
</body>
</html>