<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/admin_afterlogin.css') }}">
        <title>Document</title>
    </head>
    <body>
        <div class="v144_2">
            <div class="v144_3">
                <div class="v144_4">
                    <div class="v144_5"></div>
        <div class="v144_6"></div>
        <div class="v144_7"></div>
        <div class="v144_8"></div>
        <span class="v144_11"><a href="/About_us">About Us</a></span>
<span class="v144_10"><a href="/Contact_us">Contact Us</a></span>
<span class="v144_20"><a href="/">Log out</a></span>
        <span class="v141_2">WELCOME ADMIN </span>
        <span class="v144_19"><a href="#">ADD TRAIN</a></span>

    <span class="v1200_31"><a href="/admin_station">ADD STATION</a></span>
</div>
</div>
</div>
</body>
</html>