<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/admin_seats.css') }}">
        <title>Document</title></head>
        <body>
            <div class="v129_2">
                <div class="v129_3">
                    <div class="v129_4">
                        <div class="v129_5"></div>
                        </div></div>
                        <div class="v129_6"></div>
                        <span class="v129_7">STATION NAME</span>
                    <span class="v129_90">NUMBER OF TERMINALS</span>
                    
                        

<form action="index.html" method="post">
    <div class="v129_71">
        <!--<span class="v8_15">From Station</span>-->
        <input type="text" name="name" id="first_name" placeholder="">
    </div>
    <div class="v129_901">
        <!--<span class="v8_15">From Station</span>-->
        <input type="text" name="DOB" id="DOB" placeholder="">
    </div>
    <div class="v129_14">
        <button type="submit">OK</button>
    </div>
    <div class="v129_8">
        <button type="submit">BACK</button>
    </div>
</form>
<div class="v129_9"></div>

<span class="v129_10"><a href="#">About Us</a></span>
    <span class="v129_11"><a href="#">Contact us</a></span>
<div class="v129_13"></div></div></body></html>