<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/admin_seats.css') }}">
        <body>
            <div class="v129_15">
                <div class="v129_16">
                    <div class="v129_17">
                        <div class="v129_18"></div>
                        <span class="v129_29">TRAIN NAME</span>
                        <span class="v129_291">TOTAL SEATS</span>
                        <span class="v129_292">General</span>
                        <span class="v129_293">AC 1</span>
                        <span class="v129_30">AC 2                                                                                            </span>

<form action="index.html" method="post">
    <div class="v105_29">
        <!--<span class="v8_15">From Station</span>-->
        <input type="text" name="trainname" id="trainname" placeholder="">
    </div>
    <div class="v105_291">
        <!--<span class="v8_15">From Station</span>-->
        <input type="number" name="total_s" id="total_S" placeholder="">
    </div>
    <div class="v105_292">
        <!--<span class="v8_15">From Station</span>-->
        <input type="number" name="general" id="general" placeholder="">
    </div>
    <div class="v105_293">
        <!--<span class="v8_15">From Station</span>-->
        <input type="number" name="AC1" id="AC1" placeholder="">
    </div>
    <div class="v105_30">
        <!--<span class="v8_15">From Station</span>-->
        <input type="number" name="AC2" id="AC2" placeholder="">
    </div>
    <div class="v31_11">
        <button type="submit">SUBMIT</button>
    </div>
<!--    <div class="v129_21">-->
<!--        <button type="submit">BACK</button>-->
<!--    </div>-->
</form>
                            <span class="v129_21"><button onclick="history.back()">BACK</button></span>
<div class="v129_34"></div></div></div>
<div class="v129_19"></div>

<div class="v129_22"></div>

<span class="v129_23"><a href="#">About Us</a></span>
    <span class="v129_24"><a href="#">Contact us</a></span>
<div class="v129_26"></div></div></body></html>