<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
	    <link href="https://fonts.googleapis.com/css?family=Jacques+Francois&display=swap" rel="stylesheet" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/available_trains.css') }}"/>
        <title>Document</title>
    </head>
    <body>
        <div class="v68_118"><div class="v116_13"><div class="v116_12"><div class="v68_119"></div>
    </div>
</div>
        <div class="v68_129"></div>
        <span class="v68_130">All Tickets</span>
        <span class="v68_131"><button onclick="history.back()">BACK</button></span>
        <div class="v68_136"></div>

        <span class="v68_137"><a href="/About_us">About Us</a></span>
        <span class="v68_138"><a href="/Contact_us">Contact Us</a></span>
        <div class="v68_140"></div>
    </div>

    <span class="fortable">
        {#    start table from here #}
        <table>
            <tr>
                <th> S no.</th>
                <th> Ticket id</th>
                <th> Booking Date</th>
                <th> Departure station </th>
                <th> Arrival station </th>
                <th> Train Name </th>
{#                <th> open_this </th>#}
            </tr>

            {% for i in final_render_list %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[5] }}</td>
{#                    <td>#}
{#                            <input type="hidden" name="ticket_id_show" value="{{ i[1] }}" id="ticket_id_show" />#}
{#                            <input type="hidden" name="ticket_id_show" value="{{ i[1] }}" />#}
{#                        <button type="submit" value="{{ i[1] }}">open</button>#}
{#                    </td>#}
                </tr>
            {% endfor %}
            <tr>
                <form action="/Booking_details" method="POST">
                    <td colspan="3">
                        <input type="number" name="ticket_id_show" id="ticket_id_show" placeholder="Enter Ticket ID" required />
{#                        <select id="ticket_id_show" name="ticket_id_show">#}
{#                            {% for i in final_render_list %}#}
{#                            <option value="{{ i[i] }}">{{ i[1] }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
                    </td>
                    <td colspan="3"><button type="submit">SHOW</button></td>
                </form>
            </tr>
        <tr>
            <form action="/ticket_cancelled" method="POST">
                <td colspan="3">
                    <input type="number" name="ticket_id_show" id="ticket_id_show" placeholder="Enter Ticket ID" required />
                </td>
                <td colspan="3"><button type="submit">CANCEL</button></td>
            </form>
        </tr>
        </table>
    </span>
        <span class="fortcktinp">

        </span>
</body>
</html>