<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
	    <link href="https://fonts.googleapis.com/css?family=Jacques+Francois&display=swap" rel="stylesheet" />
{#        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/available_trains.css') }}">#}
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/available_trains.css') }}"/>
        <title>Document</title>
    </head>
    <body>
        <div class="v68_118">
            <div class="v116_13">
                <div class="v116_12">
                    <div class="v68_119"></div>
    </div>
        </div>
        <div class="v68_129"></div>
        <span class="v68_130">AVAILABLE TRAINS</span>
        <span class="v68_131"><button onclick="history.back()">BACK</button></span>
        <div class="v68_136"></div>

        <span class="v68_137"><a href="/About_us">About Us</a></span>
        <span class="v68_138"><a href="/Contact_us">Contact Us</a></span>
        <div class="v68_140"></div>
    </div>

    <span class="fortable">
        {#    start table from here #}
        <table>
            <tr>
                <td> S no.</td>
                <td> Train id</td>
            </tr>
        </table>
    </span>
</body>
</html>