<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap" rel="stylesheet" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/booking_details.css') }}">
        <title>Document</title>
    </head>
<body>
    <div class="v68_51"><div class="v68_52"></div>
    <div class="v68_53"></div>
    <span class="v69_5"><a href="#">About Us</a></span>
    <span class="v69_4"><a href="#">Contact us</a></span>
    <div class="v68_54"></div>
    <span class="v68_55">BOOKING DETAILS</span>
    <span class="v68_56"><button onclick="history.back()">BACK</button></span>
    <!-- <div class="v68_63"></div> -->
    <span class="v68_64">ARRIVAL DESTINATION</span>
    <span class="v68_65">DEPARTURE DESTINATION</span>
    <div class="v68_144"><span class="v68_66">COACH TYPE:</span></div>
    <span class="v68_68">STATION AND TERMINAL</span>
    <span class="v68_69">STATION AND TERMINAL</span>
    <div class="v68_70"></div>
    <div class="v68_72"></div>
    <span class="v68_141">DATE & TIME</span>
    <span class="v68_142">DATE & TIME</span>
    <div class="v68_143"></div>
    <div class="v105_2"></div>
    <div class="v105_3"></div>
    <div class="v105_4"></div>
    <div class="v105_5"></div>
    <div class="v105_6"></div>
    <div class="v105_8"></div>
    <form action="index.html" method="post">
        <div class="v105_2">
            <!--<span class="v8_15">From Station</span>-->
            <input type="text" name="arrival" id="arrival" placeholder="Arrival">
        </div>
        <div class="v105_3">
            <!--<span class="v8_15">From Station</span>-->
            <input type="text" name="departure" id="departure" placeholder="Departure">
        </div>
        <div class="v105_4">
            <!--<span class="v8_15">From Station</span>-->
            <input type="text" name="coach" id="coach" placeholder="Coach">
        </div>
        <div class="v105_5">
            <!--<span class="v8_15">From Station</span>-->
            <input type="text" name="arr_station" id="arr_station" placeholder="Arrival Station">
        </div>
        <div class="v105_6">
            <!--<span class="v8_15">From Station</span>-->
            <input type="text" name="dep_station" id="dep_Station" placeholder="Departure station">
        </div>
        <div class="v105_8">
            <!--<span class="v8_16">To Station</span>-->
            <input type="datetime" name="date_" id="date_" placeholder="">
        </div>
        <div class="v105_9">
            <!--<span class="v8_16">To Station</span>-->
            <input type="datetime" name="date" id="date" placeholder="">
        </div>
    
    </form>
    </div>
</body>
</html>