<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/contact_us.css') }}">
	<title>Document</title>
</head>
<body>
	<!-- <div class="v33_111"> -->
		<div class="v33_112"></div>
		<span class="v33_117">CONTACT US</span>
		<div class="v33_118"></div>
		<span class="v33_120"><button onclick="history.back()"><span>BACK</span></button></span>
		<div class="v68_17"></div>
		<span class="v68_25"><a href="/About_us">About Us</a></span>
		<span class="v68_24"><a href="#">Contact us</a></span>
		<span class="v68_21"><a href="/admin_login">Admin Login</a></span>
		 <div class="v68_19"></div>	
		<div class="v85_3"></div>	
		<div class="v85_5"></div>
		<div class="v85_7"></div>
		<div class="v85_9"></div>
		<span class="v85_10">darsh20560@iiitd.ac.in</span>
		<span class="v85_13">krishnam20309@iiitd.ac.in</span>
		<span class="v85_12">gurmehak20298@iiitd.ac.in</span>
		<span class="v85_11">ishita20305@iiitd.ac.in</span>
		
	<!-- </div> -->
</body>
</html>