<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Jacques+Francois&display=swap" rel="stylesheet" />
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	<title>Trainetic/Home</title>
</head>
<body>
	<!--<div class="v4_2">-->
		<!--<div class="v8_2"></div>-->
		<span class="v8_10"><a href="/Registration_screen">REGISTER</a></span>
		<span class="v8_11"><a href="/About_us">About Us</a></span>
		<div class="v4_4"></div>
		<div class="v8_3"></div>
		<div class="v9_3"></div>
		<div class="v9_31"></div>
		<span class="v8_9"><a href="/user_login">LOGIN</a></span>
		<span class="v9_4">TRAINETIC</span>
		<span class="v9_42">
		SAFETY | SECURITY | PUNCTUALITY</span>
		<span class="v9_7"><a href="/Contact_us">Contact Us</a></span>
		<span class="v9_6"><a href="/admin_login">Admin Login</a></span>
		<form action="/Available_Trains" method="POST">
			<div class="v8_15">
				<!--<span class="v8_15">From Station</span>-->
				<input type="text" name="from_station" id="from_station" placeholder="From Station" required />
			</div>
			<div class="v8_16">
				<!--<span class="v8_16">To Station</span>-->
				<input type="text" name="to_station" id="to_station" placeholder="To Station" required />
			</div>
			<div class="v8_17">
				<button type="submit">Search</button>
			</div>
		</form>
		<!--<span class="v8_17"><a href="#">Search</a></span>-->
		<div class="v9_9">
			
		</div>
	<!--</div>-->

</body>
</html>