<!DOCTYPE html><html><head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap" rel="stylesheet" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/register_screen.css') }}">
    <title>Document</title>
</head>
    <body>
        <div class="v31_2">
            <div class="v31_3"></div>
            <div class="v68_13"></div>
            <div class="v68_14"></div>
            <span class="v31_4">REGISTRATION FORM</span>
            <span class="v32_30"><button onclick="history.back()">BACK</button></span>
            <div class="v31_10"></div>
            <div class="v32_19"></div>
            <div class="v32_20"></div>
            <div class="v32_25"></div>
            <div class="v76_4"></div>
            <div class="v32_26"></div>
            <div class="v76_6"></div>
            <div class="v32_21"></div>
            <div class="v31_11"></div>
            <span class="v31_14">NAME</span>
            <span class="v32_23">DOB</span>
            <span class="v32_27">EMAIL</span>
            <span class="v76_3">Username</span>
            <span class="v32_28">PASSWORD</span>
            <span class="v76_5">Adhaar</span>
            <span class="v32_24">PHONE NUMBER</span>
            <!--<span class="v32_22">LAST NAME</span>-->
            <!--<span class="v31_15">REGISTER</span>-->
            <form action="/registered" method="POST">
                <div class="v31_10">
                    <!--<span class="v8_15">From Station</span>-->
                    <input type="text" name="first_name" id="first_name" placeholder="First Name" required />
                </div>
                <div class="v32_19">
                    <!--<span class="v8_15">From Station</span>-->
                    <input type="text" name="last_name" id="last_name" placeholder="Last Name" required />
                </div>
                <div class="v32_20">
                    <!--<span class="v8_15">From Station</span>-->
                    <input type="date" name="DOB" id="DOB" placeholder="Date of Birth" required />
                </div>
                <div class="v32_25">
                    <!--<span class="v8_15">From Station</span>-->
                    <input type="email" name="email" id="email" placeholder="xyz@abc.com" required />
                </div>
                <div class="v76_4">
                    <!--<span class="v8_15">From Station</span>-->
                    <input type="text" name="username" id="username" placeholder="Username" required />
                </div>
                <div class="v32_26">
                    <!--<span class="v8_15">From Station</span>-->
                    <input type="text" name="password" id="password" placeholder="at lease 7 letters" required />
                </div>
                <div class="v76_6">
                    <!--<span class="v8_15">From Station</span>-->
                    <input type="number" name="adhaar" id="adhaar" placeholder="10 digit adhaar number" required />
                </div>
                <div class="v32_21">
                    <!--<span class="v8_16">To Station</span>-->
                    <input type="number" name="phone_no" id="phone_no" placeholder="10 didgit Phone Number" required />
                </div>
                <div class="v31_11">
                    <button type="submit">REGISTER</button>
                </div>
            </form>
            <!--<span class="v31_17">Keep me logged in</span>-->
        </div>
    </body>
    </html>