<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/station_added.css') }}">
        <title>Document</title>
    </head>
    <body>
        <div class="v118_2"><div class="v118_3"><div class="v118_4"><div class="v118_5"></div>
        <div class="v118_14"></div>
{#        <span class="v118_15">LOGIN</span>#}
    </div>
</div>
{#<div class="v118_6"></div>#}
<span class="v118_7">STATION ADDED SUCCESSFULLY!</span>
<div class="v118_9"></div>
<div class="v118_13"></div>
{#<form action="index.html" method="post">#}
    <div class="v118_15">
        <form action="/admin_afterlogin" method="POST">
            <input type="hidden" name="username" id="username" value="__octopus__">
            <input type="hidden" name="password" id="password" value="monkey_man">
            <button type="submit">ADMIN_HOME</button>
        </form>
    </div>

{#</form>#}
</div>
</body>
</html>