<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap" rel="stylesheet" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/user_css.css') }}">
</head>
    <body>
        
            <div class="v32_56"></div>
            <span class="v32_62">LOGIN</span>
            
            <!--<div class="v32_64"></div>
            <div class="v32_65"></div>-->
            
            <span class="v32_69">Keep me logged in</span>
            <span class="v32_70">Forgot Password?</span>
            <div class="v32_71"></div>
            <span class="v32_72">USER LOG IN</span>
            <div class="v32_73"><button onclick="history.back()"><span>BACK</span></button></div>
            <span class="v33_75">OR LOGIN USING</span>
            <div class="v68_16"></div>
            <span class="v68_26"><a href="/About_us">About Us</a></span>
            <span class="v68_23"><a href="#">Contact us</a></span>
            <span class="v68_20"><a href="\admin_login">Admin Login</a></span>
            <form action="index.html" method="GET">
                <div class="v32_99">
                    <!--<span class="v8_15">From Station</span>-->
                    <input type="text" name="password" id="password" placeholder="Password">
                </div>
                <div class="v32_100">
                    <!--<span class="v8_16">To Station</span>-->
                    <input type="text" name="adhaar" id="adhaar" placeholder="Adhaar">
                </div>
                <div class="v32_101">
                    <button type="submit">LOGIN</button>
                </div>
            </form>
            <div class="v68_18"></div>
            <div class="v69_19"></div>
            <div class="v69_20"></div>
        <!--</div>-->
    </body>
</html>